body {
  background-color: lightblue;}

h1 {font-family: Copperplate, fantasy;
  color: Magenta;
  text-align: center;}

h2 {font-family: sans-serif;
  color: #7300b9;
  margin-left: 20px;}

h4 {font-family: sans-serif;
  color: #ff7000;
  margin-left: 20px;}

h5 {font-family: sans-serif;
  color: #Black;
  margin-left: 20px;}

p {font-family: Arial, sans-serif;}

.sniffsniff{width: 100%;}

.cropped{width: 20%;}

.full{width: 40%;}

.agirlawoman{width: 18%;}

.weep{width: 18%;}

.Bloom{width: 18%;}

.Peepingtom{width: 18%;}

.women{width: 18%;}

.agirlawoman{height: 200px;}

.weep{height: 200px;}

.Bloom{height: 200px;}

.Peepingtom{height: 200px;}

.women{height: 200px;}

.catlampmodel{width: 50%;}

.Face{width: 20%;}

.baseplate{width: 20%;}

.buttons{width: 20%;}

.Face{height: 300px;}

.baseplate{height: 300px;}

.buttons{height: 300px;}